.initial-container {
	padding-bottom: 15;
	background-color: white;
	width: 100%;
	height: 25%;
}

Label {
	margin-top: 70%;
	horizontal-align:center;
	font-size: 25;
}

Button, TextField {
	margin-bottom: 10;
	width: 70%;
	height: 40;
}

.button {
	color:white;
	margin-top: 20;
	
}

#signin {
	background-color: green;
}

#signup {
	background-color: red;
}
